<h1><i> <center> ULTIMATE ROCK, PAPER, SCISSORS</center> </i></h1>

<h2> <center> THE RULES OF THE GAME</center></h2>

<p> <center> Gladiators, choose your weapon </center> </p>

<p>
 
 <center> <li> Rock <b>CRUSHES</b> arrogant Scissors</li> </center>
 <center><li> Scissors <b>SHREDS</b> cowardly Paper</li></center>
 <center><li> Paper <b>SMOTHERS</b> foolish Rock</li></center>

 </p>

 <p> <center> <i> The Winner shall stand triumphant...The Loser banished for eternity</i></center>